.app {
    background-color: yellow
}
#title{
    color: coral
}
.status{
    width:10px;
    height: 10px;
    background: red;
    margin: 8px 10px 0 0;
    display: block;
    float: left;
    border-radius: 50%;
    &.checked-in{
        background: green;
    };
    &.checked-out{
        background: blue;
    }
}
